<style>
  .card-content {
    min-height: 168px;
  }
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>

    <!-- ======= Organization Section ======= -->
    <section id="organizers" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Organization</h2>
          <p>Seminar Organizers</p>
        </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/zhonghua.jpg" alt="Zhonghua Zheng">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://zhonghuazheng.com/">Zhonghua Zheng</a></h4>
              <strong>Assistant Professor</strong>
              <p><strong>The University of Manchester</strong></p>
            </div>
          </div>
          
        </div>
      </div>
    </section>




    <section id="contributors" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Presenter</h2>
          <p>Science Presenter </p>
        </div>
        <div class="columns is-multiline">


          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/jiali.jpeg" alt="Jiali Feng">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="http://weather.sz.gov.cn/gbamwf/rencaiduiwu/taifengyubaotuandui/content/post_10120244.html">Jiali Feng</a></h4>
                <p><strong>Researcher</strong></p>
                <p><strong>Shenzhen Institute of Meteorological Innovation</strong></p>
                <p><strong>GBA-MWF</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/ken2.png" alt="Kangning (Ken) Huang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://shanghai.nyu.edu/academics/faculty/directory/kangning-ken-huang">Kangning (Ken) Huang</a></h4>
              <strong>Assistant Professor</strong>
              <p><strong>Enivronmental Studies</strong></p>
              <p><strong>New York University Shanghai</strong></p>
            </div>
          </div>


          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/weiqi.png" alt="Weiqi Zhou">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="http://dse.rcees.cas.cn/yjzjs/csstxtybjlydkjsyj/csstgjymnyjz/201211/t20121107_101610.html">Weiqi Zhou</a></h4>
                <strong>Researcher </strong>
                <p><strong>Eco-Environmental Sciences</strong></p>
                <p><strong>Chinese Academy of Sciences</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/yuyuzhou.webp" alt="Yuyu Zhou">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="https://www.scl.hku.hk/people">Yuyu Zhou</a></h4>
                <p><strong>Professor</strong></p>
                <p><strong>Geography</strong></p>
                <p><strong>The University of Hong Kong</strong></p>
            </div>
          </div>
        </div>








        
        <div class="section-title" data-aos="zoom-out">
          <p>Other Contributors </p>
        </div>



          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/junjie.png" alt="Junjie Yu">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4>Junjie Yu</h4>
                <p><strong>PhD Student</strong></p>
                <p><strong>Earth and Environmental Sciences</strong></p>
                <p><strong>The University of Manchester</strong></p>
            </div>
          </div>
       
       
        </div>

      </div>
    </section>


